.footer-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 40px; 
}

.footer {
  width: 100%;
  background-color: #000;
  text-align: center;
  padding: 0.5rem 0;
  font-size: 0.9rem;
  position: fixed;
  bottom: 0px; /* partially hidden by default */
  left: 0;
  transition: bottom 0.3s ease;
  z-index: 100;
}

.footer p{
  color: white;
}

body.scrolled-to-bottom .footer {
  bottom: 0;
}
